@import "skeleton";
@import "normalize";

//Set to the superior box size model
* {
  box-sizing: border-box;
}

//Mixins
@mixin blur($px: 0) {
    -webkit-filter: blur(#{$px}px) !important;
    -ms-filter: blur(#{$px}px) !important;
    -moz-filter: blur(#{$px}px) !important;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'#{$px}\' /></filter></svg>#blur");
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$px}');
}

//Navbar
#menu-outer {
    width: 100%;
    padding: 10px;
    overflow: auto;
}

#title {
  display: inline;
  float: left;
}

.name {
  text-transform: uppercase;
  display: inline;
  float: left;
  margin: 0;
  font-weight: 700;
  color: $dark-grey;
  font-size: 8vmin;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sub {
  color: darken($light-grey, 30%);
  float: left;
  clear: both;
  font-size: 4vmin;
  display: inline;
  font-family: $body;
  letter-spacing: 1px;

}

.menu-inner {
	float: right;
	padding: 0.3em;
	a {
		display: inline-block;
		margin: 0.1em 0.5em 0 0.3em;
        border: 2px solid;
        padding: 5px 10px 5px 10px;
	}
}

//Details
#details {
  display: flex;
  align-items: center;
  color: white;
  background-image: url('../img/hero.jpg');
  background-size: cover;
 
  
  @media (#{$bp-larger-than-phablet}) {
   height: 80vh;
  }
}

.info {
  i {
    font-size: 15rem;
    text-align: center;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

//Posts
#recent-posts .recent-post-item {
	margin-bottom: 20px;
}

#article {
  $post-color: darken(white, 10%);
  $shadow: rgba(0,0,0, 1);
  
  //Text Styling
  h5 {
    display: inline;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid;
    padding: 5px 10px 5px 10px;
  }
  
  height: 33vh;
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  z-index: 1;
  text-shadow: 0px 0px 3px $shadow;
  
  &:hover .details {
    background-color: transparent;
  }
  
  time { display: block; margin-top: 10px;};
  
  color: $post-color;
  a {
    color: $post-color;
    &:hover { color: white };
  }
  
  .details {
    padding: 20px 0 20px 0;
    align-self: center;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0, 0.5);
  }
  
  &:hover:before {
    @include blur(3);
    transform: scale(1.2, 1.2);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.35);
  }
  
  //Psuedo element
  &:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: 100%;
    background-color: rgba(0,0,0, 0.8);
    content: '';
    @include blur(0);
    transition: all 0.1s ease;
  }
}

//Footer
#footer {
  background-color: $dark-grey;
  height: 50px;
  color: $light-grey;
  text-align: center;
  line-height: 50px;
  bottom: 0;
  margin-top: 2rem;
  
  i {
    margin: 0 3px 0 3px;
    font-size: 3rem;
  }
}


//Skeleton Adjustments
.row {
  padding: 0 20px 0 20px;
}

