
div.u-full-width.darkdiv.spacing
  div.container
    div.row
      h1.sectionhead What My Clients Say
    div.row
      h3.blockquote The logo, concept and designs are beautiful and inspiring. I know it is "only a logo" but what this does is that it takes us one more step towards our vision and mission. I cannot thank you enough for this!
      span.reference Helen Henderson, St. Columb's Park House