
div#contact.container.spacing
  div.row
    h1.sectionhead Get In Touch
  div.row
    div.twelve.columns
      form(action='//formspree.io/parky.fp@gmail.com', method='POST')
          label Name:
          input(type='text', name='name', placeholder='Your Name')  
          label Email Address:
          input(type='email', name='_replyto', placeholder='Your Email')
          label Message:
          textarea.u-full-width(name='message', placeholder='Your Message')
          input(type='submit', value='Send me a message!')