
div#details.u-full-width
  div.container
    div.row
      .four.columns.info
        i.icon.ion-person
        h1 About
        p I am a recent graduate who specializes in bespoke solutions for front end web development, creating cutting-edge responsive experiences.
      .four.columns.info
        i.icon.ion-university
        h1 Qualifications
        p Graduated with first class honors in Interactive Media Arts, and Adobe Certified for a range of Adobe software.
      .four.columns.info
        i.icon.ion-code-working
        h1 Skills
        p Knowledgeable in HTML5, CSS3, Javascript, jQuery, git, and tinkerer in node.js, php, and other backend technologies.