
#details.container
  .four.columns.info
    i.fa.fa-user
    h1 About
    p I am a recent graduate who specializes in bespoke solutions for front end web development, creating cutting-edge responsive experiences for a range of devices.
  .four.columns.info
    i.fa.fa-certificate
    h1 Qualifications
    p Graduated with first class honors in Interactive Media Arts, Adobe Certified Associate for a range of Adobe software, recipent of
  .four.columns.info
    i.fa.fa-code
    h1 Skills
    p HTML5, CSS3, Javascript, jQuery, git and tinkerer in node.js, php, and other backend technologies.