
if site.posts.length > 0
  #recent-posts
    each post in site.posts.sort('date', -1).limit(5).toArray()
      .recent-post-item
        #post(style="background: url('img/" + post.title + ".jpg');")
        a(href=config.root + post.path)= post.title
        if post.date
          time(datetime=post.date.toJSON())= date(post.date, date_format)
